.nav {
    background-color: #ffffff;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
  }
  
  .nav ul {
    padding: 1rem;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  .nav img {
    height: 90px;
    width: auto;
  }
  
  .site-title {
    display: flex;
    align-items: center;
    gap: 0rem;
    font-size: 2rem;
  }
  
 
  